.canvas {
  position: relative;
  margin: 100px auto;
  background: rgb(186, 226, 189);
  width: 60%;
}

.canvas-height {
  padding-top: 50%;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(0);
  cursor: pointer;
  width: 25%;
}

.item-height {
  padding-top: 130%;
}

.item-content {
  position: absolute;
  top: -50%;
  left: 0;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px rgb(41, 5, 5);
  background: #f3f7e3;
  width: 100%;
  height: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
