.canvas {
  position: relative;
  margin: 0 auto 0;
  background: rgb(186, 226, 189);
  width: 100%;
  max-width: 800px;
}

.canvas-height {
  padding-top: 60%;
}

.item-wrap {
  position: absolute;
  top: 0;
  left: 0;
}

.item-wrap-content {
  position: absolute;
  top: -50%;
  left: 0;
  background: #099b3a;
  width: 100%;
  height: 100%;
}

.item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(0);
  transform-origin: 0 0;
  cursor: pointer;
}

.item-content {
  position: absolute;
  top: -50%;
  left: 0;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px rgb(41, 5, 5);
  background: #f3f7e3;
  width: 100%;
  height: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
